<!-- Signup Modal -->
<div id="signinModal" class="modal">
    <div class="modal-content">
        <span id="closeInModalBtn" class="close">&times;</span>
        <h2>Login</h2>
        <form id="signInForm">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" id="inEmail" name="email" required>
                <p class="error" id="inemailError"></p>

            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="inPassword" name="password" required>
                <p class="error" id="inpasswordError"></p>

            </div>

            <button type="submit" class="btn">Login</button>
        </form>
        <p style="color: white;">
            <a href="#" style="color: white; font-size: 12px;" id="forgotPassword">Forgot Password?</a>
        </p>
        <p style="color: white;">Don't an account?
            <a href="#" style="color: white;" id="signupPrompt">Sign Up</a>
        </p>
    </div>
</div>
